@import '@/styles/index.scss';

.signup-container {
  @include Flex(column, '', '');
  max-width: 400px;
  margin: 0 auto;
  padding: 60px 0;

  .form {
    @include Flex(column, center, normal);
    gap: 30px;

    .input-wrapper {
      @include Flex(column, center, normal);
      row-gap: 24px;
    }
  }

  .title {
    @include Font(
      $font-size-2xl,
      $line-height-2xl,
      $font-weight-2xl-semibold,
      $color-grayscale-500
    );
    text-align: center;
    margin-bottom: 64px;
  }

  .logon-wrapper {
    @include Flex(row, center, center);
    gap: 10px;

    margin-top: 40px;

    strong {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        $color-grayscale-400
      );
    }

    .login {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        $color-grayscale-500
      );
      text-decoration: none;
      align-self: center;
      color: $color-primary-green-200;
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  .signup-container {
    .title {
      margin-bottom: 48px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .signup-container {
    @include Size(100%, '');
    padding: 60px 20px;

    .title {
      margin-bottom: 32px;
    }

    .form {
      gap: 32px;
    }
  }
}
