@import '@/styles/index.scss';

.password-wrapper {
  position: relative;

  .password-toggle-btn {
    @include Flex(column, center, center);
    @include Size(20px, 20px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    padding: 0;
    background: none;
    outline: none;
  }

  &.has-label .password-toggle-btn {
    margin-top: 46.5px;
  }

  &.no-label .password-toggle-btn {
    margin-top: 12.5px;
  }
}
