@import '@/styles/index.scss';

.wikilist-ui {
  @include Flex(column, center, center);
  margin: 0 auto;
  max-width: 860px;
}

@media screen and (max-width: $tablet-max-width) {
  .wikilist-ui {
    padding: 20px;
  }
}
